annotated-types==0.6.0 ; python_full_version == "3.11.9"
asgiref==3.8.1 ; python_full_version == "3.11.9"
attrs==23.2.0 ; python_full_version == "3.11.9"
autobahn==23.6.2 ; python_full_version == "3.11.9"
automat==22.10.0 ; python_full_version == "3.11.9"
bidict==0.23.1 ; python_full_version == "3.11.9"
cffi==1.16.0 ; platform_python_implementation != "PyPy" and python_full_version == "3.11.9"
cfgv==3.4.0 ; python_full_version == "3.11.9"
click==8.1.7 ; python_full_version == "3.11.9"
colorama==0.4.6 ; python_full_version == "3.11.9" and platform_system == "Windows"
constantly==23.10.4 ; python_full_version == "3.11.9"
contextlib2==21.6.0 ; python_full_version == "3.11.9"
cryptography==42.0.7 ; python_full_version == "3.11.9"
daphne==4.1.2 ; python_full_version == "3.11.9"
distlib==0.3.8 ; python_full_version == "3.11.9"
django-environ==0.11.2 ; python_full_version == "3.11.9"
django-ninja-extra==0.20.7 ; python_full_version == "3.11.9"
django-ninja-jwt==5.3.1 ; python_full_version == "3.11.9"
django-ninja==1.1.0 ; python_full_version == "3.11.9"
django==4.2 ; python_full_version == "3.11.9"
djangorestframework-simplejwt==5.3.1 ; python_full_version == "3.11.9"
djangorestframework==3.15.1 ; python_full_version == "3.11.9"
dnspython==2.6.1 ; python_full_version == "3.11.9"
drf-yasg==1.21.7 ; python_full_version == "3.11.9"
ecdsa==0.19.0 ; python_full_version == "3.11.9"
environ==1.0 ; python_full_version == "3.11.9"
eventlet==0.36.1 ; python_full_version == "3.11.9"
filelock==3.14.0 ; python_full_version == "3.11.9"
greenlet==3.0.3 ; python_full_version == "3.11.9"
gunicorn==22.0.0 ; python_full_version == "3.11.9"
h11==0.14.0 ; python_full_version == "3.11.9"
hyperlink==21.0.0 ; python_full_version == "3.11.9"
identify==2.5.36 ; python_full_version == "3.11.9"
idna==3.7 ; python_full_version == "3.11.9"
incremental==22.10.0 ; python_full_version == "3.11.9"
inflection==0.5.1 ; python_full_version == "3.11.9"
injector==0.21.0 ; python_full_version == "3.11.9"
nodeenv==1.8.0 ; python_full_version == "3.11.9"
packaging==24.0 ; python_full_version == "3.11.9"
passlib==1.7.4 ; python_full_version == "3.11.9"
platformdirs==4.2.1 ; python_full_version == "3.11.9"
pre-commit==3.7.1 ; python_full_version == "3.11.9"
psycopg2-binary==2.9.9 ; python_full_version == "3.11.9"
pyasn1-modules==0.4.0 ; python_full_version == "3.11.9"
pyasn1==0.6.0 ; python_full_version == "3.11.9"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_full_version == "3.11.9"
pycryptodome==3.20.0 ; python_full_version == "3.11.9"
pydantic-core==2.18.2 ; python_full_version == "3.11.9"
pydantic==2.7.1 ; python_full_version == "3.11.9"
pyjwt==2.8.0 ; python_full_version == "3.11.9"
pyjwt[crypto]==2.8.0 ; python_full_version == "3.11.9"
pyopenssl==24.1.0 ; python_full_version == "3.11.9"
python-dotenv==1.0.1 ; python_full_version == "3.11.9"
python-engineio==4.9.0 ; python_full_version == "3.11.9"
python-jose[cryptography]==3.3.0 ; python_full_version == "3.11.9"
python-socketio==5.11.2 ; python_full_version == "3.11.9"
pytz==2024.1 ; python_full_version == "3.11.9"
pyyaml==6.0.1 ; python_full_version == "3.11.9"
rsa==4.9 ; python_full_version == "3.11.9"
service-identity==24.1.0 ; python_full_version == "3.11.9"
setuptools==69.5.1 ; python_full_version == "3.11.9"
simple-websocket==1.0.0 ; python_full_version == "3.11.9"
six==1.16.0 ; python_full_version == "3.11.9"
sqlparse==0.5.0 ; python_full_version == "3.11.9"
twisted-iocpsupport==1.0.4 ; platform_system == "Windows" and python_full_version == "3.11.9"
twisted[tls]==24.3.0 ; python_full_version == "3.11.9"
txaio==23.1.1 ; python_full_version == "3.11.9"
typing-extensions==4.11.0 ; python_full_version == "3.11.9"
tzdata==2024.1 ; sys_platform == "win32" and python_full_version == "3.11.9"
uritemplate==4.1.1 ; python_full_version == "3.11.9"
uvicorn==0.29.0 ; python_full_version == "3.11.9"
virtualenv==20.26.2 ; python_full_version == "3.11.9"
wsproto==1.2.0 ; python_full_version == "3.11.9"
zope-interface==6.3 ; python_full_version == "3.11.9"
